.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -999;
    opacity: .15;
    overflow: hidden;

    &__content {
        // Keeps background video from flowing outside of it's parent element .bg-video
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}