.btn {

    &,
    &:link,
    &:visited {
        display: inline-block;
        position: relative;
        text-transform: $text-uppercase;
        text-decoration: none;
        font-size: $default-font-size;
        padding: 1.5rem 4rem;
        border-radius: 10rem;
        transition: all .2s;

        //Change for the <button> element since styles above were applied to <a>
        border: none;
        cursor: pointer;
    }

    &:hover {
        // This makes button move up a bit 
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);

        &::after {
            // This is the 'trigger' and actual animation of 'zooming out' and 'zooming in'
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        // This makes button move down a bit, making it look like it was physically clicked
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }

    &::after {
        // This is the first part, a base of 'zooming out' and 'zooming in', from here the 'outline' is being send.
        display: inline-block;
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        z-index: -1;
        transition: all .4s;
    }

    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }

    &--green {
        background-color: $color-primary;
        color: $color-white;

        &::after {
            background-color: $color-primary;
        }
    }

    &--animated {
        animation: moveInBottom .5s ease-out .75s;

        // this makes button move in from bottom
        animation-fill-mode: backwards;
    }
}

.btn-text {
    &:link,
    &:visited {
        display: inline-block;
        font-size: $default-font-size;
        text-decoration: none;
        color: $color-primary;
        padding: .3rem 1rem;
        border-bottom: 1px solid $color-primary;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        border-radius: 2px;
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}